.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(255, 35, 79);
    background-color: rgb(128, 255, 69);
}

.choice-container:hover {
    cursor: cell;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(251, 136, 35, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgb(255, 35, 79);
    color: rgb(128, 255, 69);
}

.choice-text {
    padding: 1.5rem;
    color: rgb(107, 105, 105);
    width: 100%; 
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* hud */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid rgb(255, 35, 79);
    margin-top: 1.5rem;
}

#progressBarFull{
    height: 3.4rem;
    background-color: rgb(255, 35, 79);
    width: 0%;
}