:root {
    background-color: rgb(113, 197, 98);
    font-size: 60%;
}

* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: black;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: rgb(255, 35, 79);
    margin-bottom: 5rem;
}

h1 > span { 
    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: 4.5rem;
    margin-bottom: 4rem;
    font-weight: 700;
    color: rgb(107, 105, 105);
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

/* utilities */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* buttons */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid rgb(255, 35, 79);
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(255, 35, 79);
    background-color: rgb(128, 255, 69);
    border-radius: 2.5rem;
}

.btn:hover {
    cursor: cell;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(251, 136, 35, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}